<h1 md-dialog-title> {{data.projection.Name}}</h1>
<md-dialog-content style = "text-align: center"> 
    <div style = "text-align: center; margin-bottom: 2%">
        <img src="{{data.projection.Image}}" style="width:50%; height:50%"/>
    </div>
    <div style = "margin-bottom: 2%">
        {{data.projection.Long_Description}}
    </div>
</md-dialog-content>
<md-dialog-actions style = "text-align: center">
    <button type = 'button' class = 'btn btn-info' style = 'margin-right: 2%' (click)="getMoreInfo()"> Find out more</button>
    <button type = 'button' class = 'btn btn-danger' md-dialog-close>Close</button>    
</md-dialog-actions>
