<md-card>
  <md-card-header>
    <div md-card-avatar> <md-icon>map</md-icon></div>
    <md-card-title>{{model.Name}}</md-card-title>
  </md-card-header>

  <img md-card-image src="{{model.Image}}">

  <md-card-content>
    <div>{{model.Description}}</div>
    <div>{{model.Personality}}</div>
    <div class="progress" style="text-align:right; margin-top:4%;">
      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" attr.aria-valuenow="{{percentageString}}"
      aria-valuemin="0" aria-valuemax="100" [style.width]="percentageString + '%'">
      </div>
      {{percentage}}%
    </div>
    <div>{{model.Votes}} Votes</div>
  </md-card-content>

  <md-card-actions><button md-button (click) = "vote()">Vote for {{model.Name}}!</button></md-card-actions>

  <md-card-footer>    
      <div><a href="{{model.CreditURL}}">{{model.Credit}}</a></div>
  </md-card-footer>

</md-card>